{% extends 'base.html' %}
{% block title %}
<title>video downloader</title>
{% endblock %}

{% block body %}
<div id="formContainer">
    <form id="formC" action="/send" method="POST">
        <div class="rows">
          <div class="column">
              <input class="theInputs" type="text" placeholder="url" name="url"/>
          </div>
          <div class="column">
              <input class="theInputs" type="text" placeholder="name of file" name="name_of_file"/>
          </div>
          <div class="column">
              <input class="submit" type="submit" placeholder="send"/>
          </div>
        </div>
    </form>
</div>
{% endblock %}
